<div class="head">
  <div class="head-game">
  １ゲーム
  </div>

  <table class="head-frame">
    <tr >
      <td colspan = "2" class="table-frame">1</td>
      <td colspan = "2" class="table-frame">2</td>
      <td colspan = "2" class="table-frame">3</td>
      <td colspan = "2" class="table-frame">4</td>
      <td colspan = "2" class="table-frame">5</td>
      <td colspan = "2" class="table-frame">6</td>
      <td colspan = "2" class="table-frame">7</td>
      <td colspan = "2" class="table-frame">8</td>
      <td colspan = "2" class="table-frame">9</td>
      <td colspan = "3" class="table-frame">10</td>
    <tr>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
      <td class="input-throw">1</td>
    </tr>
    <tr>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "2" class="head-sucore-total">1</td>
      <td colspan = "3" class="head-sucore-total">1</td>
      
    </tr>
  </table> 
  

</div>