<div class="result">
    <div class="result-name">
      <a href="#">techroom1</a>
       <div class="result-line">
          154
        </div>
        <div class="result-line">
          184
          </div>
          <div class="result-line">
          69
          </div>
        </div>
    </div>
</div>
  <div class="result">
    <div class="result-name">
      <a href="#">techroom2</a>
      <ul class="result-line">
      187
      </ul>
    </div>
  </div>