<div class="side-bar-left">
  <div class="user-name">
  TOM
  </div>
  <div class="logout">
  ログアウト
  </div>
</div>


<div class="side-bar-right">
  <div class="input">
  入力
  </div>
  <div class="analysis">
  分析
  </div>
</div>