<div class="input-main">


  <div class="piramid">
    <div class="pyramid_parent">
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">7</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">8</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">9</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">10</a>
      </div>
    </div>
    <div class="pyramid_parent">
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">4</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">5</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">6</a>
      </div>
    </div>
    <div class="pyramid_parent">
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">2</a>
      </div>
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">3</a>
      </div>
    </div>
    <div class="pyramid_parent">
      <div class="pyramid_box">
          <a href="#" class="btn-circle-border-simple">1</a>
      </div>
    </div>
  </div>


    <div class="menu">
      <div class="menu-button">
        <a href="#" class="btn-gradient-3d-simple">戻る</a>
      </div>
      <div class="menu-button">
        <a href="#" class="btn-gradient-3d-simple">次へ</a>
      </div>
      <div class="menu-button">
        <a href="#" class="btn-gradient-3d-simple">決定</a>
      </div>
    </div>
</div>